.on{
    background: yellow;
}
.disabled{
    pointer-events: none;
}
.hide{
    display: none;
}
#start{
    width: 200px;
    height: 30px;
}
.button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
}
