body {
    background-image: url(./imgonline-com-ua-8bit-Picture-IiXTsos80vdGK.jpg);
    background-size: cover;
}
main {
    background-image: url(./imgonline-com-ua-8bit-Picture-sn3KNweLbwO.jpg);
}
.on{
    background: yellow;
}
.disabled{
    pointer-events: none;
}
.hide{
    display: none;
}
#start{
    width: 200px;
    height: 30px;
}
.button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
}
