body {
    background-image: url('../assets/control-center.jpg');
    background-size: cover;
}
header, a {
    color: rgb(224, 14, 14);
    text-shadow: 2px 3px black;
    margin: 15px;
}
.disabled{
    pointer-events: none;
}
.hide{
    display: none;
}
#start{
    margin: 30px;
    width: 400px;
    height: 150px;
}
.button{
    margin: 8px;
    width: 60px;
    height: 60px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(169, 170, 77);
    color: rgb(43, 44, 36);
    border-radius: 0px;
    border: outset;
    border-width: 7px;
    border-color: rgb(122, 124, 33);
}
.button:hover {
    background-color: rgb(182, 162, 76);
    box-shadow: 2px 2px rgb(8, 27, 9);
}
.button:active {
    box-shadow: 0px;
}
.on {
    background: rgb(212, 212, 21);
}
#start {
    width: 250px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(199, 201, 129);
    color: rgb(43, 44, 36);
    border-radius: 0px;
    border: outset;
    border-width: 7px;
    border-color: rgb(169, 170, 102);
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}