body {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: rgb(7, 17, 8);
}
header {
    text-align: center;
    margin: 0px;
    padding: 1px;
    background-color: darkolivegreen;
    color: white;
}
a{
    font-size: 2em;
    margin: 30px;
}
