html {
    height: 100vh;
}
body {
    margin: 0px;
    max-width: 840px;
    margin: auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
.body{
    background-color: rgba(0, 0, 0, 0.842) !important;
    min-height: 100vh;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* border-style: solid;
    border-width: 5px; */
    border-color: white;
    box-sizing: border-box;
    border: 5px solid #CCC;
}
header, label {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-bottom: 6px;
    color: rgb(224, 14, 14);
    text-shadow: 3px 5px black;
}
a {
    font-size: 2em;
    margin: 30px;
    color: rgb(224, 14, 14);
    text-shadow: 2px 3px black;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    /* background-color: rgb(73, 85, 75); */
    padding: 20px;
}
h1{
    margin: 0;
    padding: 20px;
}