body {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
header {
    text-align: center;
    margin: 0px;
    padding: 1px;
    background-color: darkolivegreen;
    color: white;
}





a{
    font-size: 2em;
    margin: 30px;
}
