table {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 5em;
}
thead {
    font-weight: bolder;
    color: white;
    background: darkolivegreen;
}
tbody tr:nth-child(even) {
    background: rgb(45, 75, 45);
}
td {
    padding: 8px 5px;
}
#cheat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: orange;
}