body {
    background-image: url('../assets/ruined-city.png');
}

#user-name, #level{
    color: rgb(216, 216, 216);
}

table {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 5em;
    color: white;
    margin-bottom: 10PX;
}

tbody {
    background-color: black;
    border: inset;
    border-width: 10px;    
}

thead {
    font-weight: bolder;
}

tr {
    border-style: dotted;
}

td {
    padding: 8px 5px;
}

span {
    color: rgb(224, 14, 14);
    text-shadow: 2px 3px black;
}

#noBorder {
    border: none;
}

#cheat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
}